{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="flex items-center justify-center min-h-screen">
    <section class="bg-gray-50 max-w-md w-full rounded-md shadow-lg">
        <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                        Sign in to your account
                    </h1>
                    {% if get_flashed_messages() %}
                    <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4" role="alert">
                        <p class="font-bold">Invalid Credentials</p>
                        <p>Your email or password is invalid.</p>
                    </div>
                    {% endif %}
                    <form class="space-y-4 md:space-y-6" action="{{ url_for('login') }}" method="post">
                        <div>
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
                            <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-bg-gray-50 max-w-md w-full shadow-lg-600 block p-2.5" placeholder="email@domain.com" required="">
                        </div>
                        <div>
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
                            <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" required="">
                        </div>
                        <div class="flex items-center justify-between">
                            <div class="flex items-start">
                                <div class="flex items-center h-5">
                                  <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300">
                                </div>
                                <div class="ml-3 text-sm">
                                  <label for="remember" class="text-gray-500">Remember me</label>
                                </div>
                            </div>
                        </div>
                        <button class="w-full text-white bg-zinc-800 hover:bg-zinc-900 focus:ring-4 focus:outline-none focus:ring-zinc-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Sign in</button>
                        <p class="text-sm font-light text-gray-500 ">
                            Don’t have an account yet? <a href="{{ url_for('register') }}" class="font-medium text-blue-600 hover:underline">Sign up</a>
                        </p>
                    </form>
                </div>
        </div>
      </section>
</div>
{% endblock %}
